{% extends 'core/base.html' %}

{% block title %}
Cuotas
{% endblock title %}

{% block content %}
<div class="container">

    <div class="row" style="padding-top: 10px;">
        <h1 style="text-align: center;background-color: lightgrey;">Listado de cuotas</h1>
        <div style="text-align: center;" class="col-6">
            <h3>Titular: {{credito.titular}}</h3>
        </div>
        <div style="text-align: center;" class="col-6">
            <h3>Id Credito: {{credito.pk}}</h3>
        </div>
        <div style="text-align: center;" class="col-6">
            <h3>Capital: ${{credito.capital}}</h3>
        </div>
        <div style="text-align: center;" class="col-6">
            <h3>Cant Cuotas: {{credito.cant_cuota}}</h3>
        </div>
        <div style="text-align: center;" class="col-6">
            <h3>Interes: {{credito.tasa_interes}}%</h3>
        </div>

        <div style="text-align: center;" class="col-6">
            <h3>Fecha Otorgamiento: {{credito.fecha_prestamo}}</h3>
        </div>

    </div>


</div>

<div class="container-fluid">





    <div class="container-fluid" style="margin-top:10px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Cuota Nro:</th>
                    <th scope="col">Monto Cuota</th>
                    <th scope="col">Fecha Vencimiento</th>
                    <th scope="col">Situacion</th>
                    <th scope="col">Amortizacion</th>
                    <th scope="col">Interes</th>
                    <th scope="col">Total Pagado</th>
                    <th scope="col">Saldo Adeudado</th>
                    <th scope="col">Pago</th>
                    <th scope="col">Mora</th>







                </tr>
            </thead>

            <tbody>

                {% for cuota in cuotas %}

                <tr>
                    <td>{{cuota.numero_cuota}}</td>
                    <td>${{cuota.monto_cuota}}</td>
                    <td>{{cuota.fecha_pago}}</td>

                    {% if cuota.situacion == 'Pendiente' %}
                    <td style="background-color: lightblue;">{{cuota.situacion}}</td>
                    {% elif cuota.situacion == 'Pagado' %}
                    <td style="background-color: lightgreen;">{{cuota.situacion}}</td>
                    {% elif cuota.situacion == 'No realizo Pago' %}
                    <td style="background-color: red;">{{cuota.situacion}}</td>
                    {% elif cuota.situacion == 'Pago Parcial' %}
                    <td style="background-color: yellow;">{{cuota.situacion}}</td>

                    {% endif %}

                    <td>${{cuota.amortizacion}}</td>
                    <td>${{cuota.interes}}</td>
                    <td>${{cuota.total_pagado}}</td>
                    <td>${{cuota.mora.monto_mora}}</td>

                    



                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Pagos
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <a class="dropdown-item" href="{%url 'pago_app:pago_create_pk' cuota.pk%}">Pago Parcial</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{%url 'pago_app:pago_create_pk' cuota.pk%}">Pago Completo</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{%url 'pago_app:pago_list_pk' cuota.pk%}">Listado de Pagos</a>
                                </li>
                               
                            </ul>
                        </div>


                    </td>
                    
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Mora
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <a class="dropdown-item" href="{%url 'credito_app:mora_create' cuota.pk%}">Cargar</a>
                                </li>
                                <li>
                                    
                                  
                                    <a class="dropdown-item" href="{%url 'credito_app:mora_update' 1 %}">{{cuota.mora.pk}}</a>
                                        
                                   
                                        
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Ver</a>
                                </li>
                                
                                <li>
                                    <a class="dropdown-item" href="#">Eliminar</a>
                                </li>
                               
                            </ul>
                        </div>

                    </td>




                </tr>

                {% endfor %}


            </tbody>
        </table>
    </div>
    <div class=" container-fluid">

        <nav aria-label="Page navigation example">

            {% if is_paginated %}
            <ul class="pagination">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}">Anterior</a>
                </li>
                {% endif %}

                {% for pagina in paginator.page_range %}


                {% ifequal pagina page_obj.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
                </li>
                {%else %}
                <li class="page-item"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
                </li>

                {% endifequal %}



                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Siguiente</a>
                </li>

                {% endif %}

            </ul>
            {% endif %}


        </nav>
    </div>

</div>
<!--Fin buscador y boton-->





</div>

{% endblock content %}